<nav *ngIf="commandInvoker" #nav>
  <button [class.actualAction]="isActive(1)" (click)="onClickWalls(1)"> Create Walls</button>
  <button [class.actualAction]="isActive(2)" (click)="onClickWindows(2)"> Add Windows</button>
  <button [class.actualAction]="isActive(3)" (click)="onClickDoors(3)"> Add Doors</button>
  <button [class.actualAction]="isActive(4)" (click)="onClickBoard(4)"> Move on Board</button>
  <button (click)="onClickZoomIn()"> Zoom In</button>
  <button (click)="onClickZoomOut()"> Zoom Out</button>
  <button [disabled]="!commandInvoker.canUndo()" (click)="onClickUndo()"> Undo</button>
  <button [disabled]="!commandInvoker.canRedo()" (click)="onClickRedo()"> Redo</button>
</nav>
