<nav>
  <button [class.actualAction]="isActive(1)"  (click)="onClickWalls(1)"> Create Walls </button>
  <button [class.actualAction]="isActive(2)"  (click)="onClickWindows(2)"> Add Windows </button>
  <button [class.actualAction]="isActive(3)"  (click)="onClickDoors(3)"> Add Doors </button>
  <button [class.actualAction]="isActive(4)"  (click)="onClickBoard(4)"> Move on Board </button>
  <button [class.actualAction]="isActive(5)"  (click)="onClickZoomIn(5)"> Zoom In </button>
  <button [class.actualAction]="isActive(6)"  (click)="onClickZoomOut(6)"> Zoom Out </button>
</nav>
