<div class="wallSetting">
  <div class="colorSetting">
    <label for="colorPicker">{{ "Choose the wall color:" | translate }}</label>
    <input type="color" id="colorPicker" [(ngModel)]="color" (change)="onColorChange()">
  </div>

  <div class="selectedColorSetting">
    <label for="selectedColorPicker">{{ "Choose the selected wall color:" | translate }}</label>
    <input type="color" id="selectedColorPicker" [(ngModel)]="selectedColor" (change)="onSelectedColorChange()">
  </div>

  <div class="thicknessSetting">

  </div>
</div>
