/* You can add global styles to this file, and also import other style files */

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: initial;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

